<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Asistencias</div>
        <button mat-icon-button [tabIndex]="-1" (click)="closeModalAssistances()">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Assistances -->
    <form class="flex flex-col flex-auto px-6 pb-6 sm:px-8 sm:pb-8 overflow-y-auto">
        <div class="space-y-4" *ngIf="assistances.length > 0">
            <ng-container
                *ngFor="let elementAssistance of formArrayAssistances.controls; let i = index; let first = first; let last = last; trackBy: trackByFn">
                <div class="relative flex  mt-4">
                    <button class="self-center" mat-icon-button *ngIf="assistances.length > 0"
                        [matTooltip]="formArrayAssistances.getRawValue()[i].user.person.name_person + ' ' + formArrayAssistances.getRawValue()[i].user.person.last_name_person">
                        <span class="relative">
                            <img class="w-7 h-7 rounded-full"
                                *ngIf="formArrayAssistances.getRawValue()[i].user.avatar_user"
                                [src]="_urlPathAvatar + formArrayAssistances.getRawValue()[i].user.avatar_user">
                        </span>
                    </button>
                    <div class="flex flex-auto">
                        <div class="flex flex-col w-2/4 pr-3">
                            <!-- start_marking_date -->
                            <div>
                                <mat-form-field class="angel-mat-no-subscript w-full">
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:clock'">
                                    </mat-icon>
                                    <input matInput type="time"
                                        [formControl]="getFromControl(formArrayAssistances, i, 'start_marking_date')">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-col w-2/4 pl-3">
                            <!-- end_marking_date -->
                            <div>
                                <mat-form-field class="angel-mat-no-subscript w-full">
                                    <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:clock'">
                                    </mat-icon>
                                    <input matInput type="time"
                                        [formControl]="getFromControl(formArrayAssistances, i, 'end_marking_date')">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <ng-container>
                        <button class="self-center" mat-icon-button *ngIf="assistances.length > 0"
                            [matTooltip]="formArrayAssistances.getRawValue()[i].is_late ? 'Marcacion con atraso' :'Marcacion en buen tiempo'">
                            <div *ngIf="!formArrayAssistances.getRawValue()[i].is_late"
                                class="ml-6 mt-1 w-3 h-3 bg-green-700 rounded-full">
                            </div>
                            <div *ngIf="formArrayAssistances.getRawValue()[i].is_late"
                                class="ml-6 mt-1 w-3 h-3 bg-red-600 rounded-full">
                            </div>
                        </button>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </form>
    <!-- Assistances -->
</div>