<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Tarea</div>
        <button mat-icon-button [tabIndex]="-1" (click)="closeModalUserTask()">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex items-center justify-center py-8 px-8 space-x-3 ng-star-inserted br-10 text-2xl">
        Fecha: {{userTask.task.limit_date | date:'medium'}}
    </div>
    <form [formGroup]="userTaskForm" class="flex flex-col flex-auto px-6 pb-6 sm:px-8 sm:pb-8 overflow-y-auto">
        <!-- Alert -->
        <angel-alert class="mt-8" *ngIf="userTaskForm.invalid || showAlert" [appearance]="'outline'" [showIcon]="false"
            [type]="alert.type" [@shake]="alert.type === 'error'">
            <!-- Message if alert is actived for the component -->
            {{alert.message}}
            <!-- response_user_task -->
            <mat-error *ngIf="userTaskForm.get('response_user_task')?.hasError('required')">
                • Ingrese response_user_task
            </mat-error>
        </angel-alert>
        <!-- Alert -->
        <!-- response_user_task -->
        <div class="mt-8">
            <mat-form-field class="angel-mat-no-subscript w-full">
                <mat-label>responseUserTask</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:fire'">
                </mat-icon>
                <input matInput maxlength="500" [formControlName]="'response_user_task'"
                    [placeholder]="'response_user_task'" [spellcheck]="false">
            </mat-form-field>
        </div> <!-- shipping_date_user_task -->
        <div class="mt-8" *ngIf="userTaskForm.getRawValue().shipping_date_user_task">
            <mat-form-field class="angel-mat-no-subscript w-full">
                <mat-label>shippingDateUserTask</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:fire'">
                </mat-icon>
                <input matInput [formControlName]="'shipping_date_user_task'" [placeholder]="'shipping_date_user_task'"
                    [spellcheck]="false" readonly>
            </mat-form-field>
        </div> <!-- qualification_user_task -->
        <div class="mt-8" *ngIf="userTaskForm.getRawValue().qualification_user_task">
            <mat-form-field class="angel-mat-no-subscript w-full">
                <mat-label>qualificationUserTask</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:fire'">
                </mat-icon>
                <input matInput maxlength="3" [formControlName]="'qualification_user_task'"
                    [placeholder]="'qualification_user_task'" [spellcheck]="false" readonly>
            </mat-form-field>
        </div> <!-- is_open -->
        <div class="mt-8" *ngIf="userTaskForm.getRawValue().is_open">
            <mat-form-field class="angel-mat-no-subscript w-full">
                <mat-label>isOpen</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:fire'">
                </mat-icon>
                <input matInput [formControlName]="'is_open'" [placeholder]="'is_open'" [spellcheck]="false" readonly>
            </mat-form-field>
        </div> <!-- is_dispatched -->
        <div class="mt-8" *ngIf="userTaskForm.getRawValue().is_dispatched">
            <mat-form-field class="angel-mat-no-subscript w-full">
                <mat-label>isOpen</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:fire'">
                </mat-icon>
                <input matInput [formControlName]="'is_dispatched'" [placeholder]="'is_dispatched'" [spellcheck]="false"
                    readonly>
            </mat-form-field>
        </div> <!-- is_qualified -->
        <div class="mt-8" *ngIf="userTaskForm.getRawValue().is_qualified">
            <mat-form-field class="angel-mat-no-subscript w-full">
                <mat-label>isQualified</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:fire'">
                </mat-icon>
                <input matInput [formControlName]="'is_qualified'" [placeholder]="'is_qualified'" [spellcheck]="false"
                    readonly>
            </mat-form-field>
        </div>
        <!-- Attached -->
        <div class="space-y-4">
            <div class="text-base mt-4">Subir archivo</div>
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Seleccionar archivo</mat-label>
                <ngx-mat-file-input #removableInput formControlName="{{'removablefileInitial'}}"
                    (change)="removableInput.setDisabledState(true); uploadFile( $event.target); removableInput.clear($event);"
                    [accept]="'.*'" (value)="removableInput">
                </ngx-mat-file-input>
                <mat-icon *ngIf="removableInput.empty" matSuffix>upload</mat-icon>
                <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                    (click)="removableInput.setDisabledState(true)">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:download'"></mat-icon>
                </button>
                <button mat-icon-button matSuffix *ngIf="!removableInput.empty" [disabled]="false"
                    (click)="removableInput.clear($event); removableInput.setDisabledState(false);">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                    </mat-icon>
                </button>
            </mat-form-field>
            <div class="text-base" *ngIf="formArrayAttacheds.controls.length > 0">Anexos subidos</div>
            <ng-container
                *ngFor="let elementAttached of formArrayAttacheds.controls; let i = index; let first = first; let last = last; trackBy: trackByFn">
                <div class="relative flex">
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Seleccionar archivo</mat-label>
                        <ngx-mat-file-input #removableInput formControlName="{{'removablefile'+i}}"
                            (change)="removableInput.setDisabledState(true)" [accept]="'.*'"
                            placeholder="Removable Input" (value)="removableInput">
                        </ngx-mat-file-input>
                        <mat-icon *ngIf="removableInput.empty" matSuffix>upload</mat-icon>
                        <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                            [matTooltip]="formArrayAttacheds.getRawValue()[i].matTooltip"
                            (click)="removableInput.setDisabledState(true); downloadFile(i)">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:download'"></mat-icon>
                        </button>
                        <button mat-icon-button matSuffix *ngIf="!removableInput.empty" [disabled]="false"
                            (click)="removableInput.clear($event); removableInput.setDisabledState(false); deleteFile(i);">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                            </mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
        <!-- Attached -->
        <!-- Comments -->
        <div class="group inline-flex items-center mt-4 mb-4 -ml-4 py-2 px-4 rounded cursor-pointer"
            (click)="addComment()">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
            <span class="ml-2 font-medium text-secondary group-hover:underline">Añadir comentario</span>
        </div>
        <div class="space-y-4" *ngIf="comments.length > 0">
            <ng-container
                *ngFor="let elementComment of formArrayComments.controls; let i = index; let first = first; let last = last; trackBy: trackByFn">
                <div class="relative flex">
                    <button mat-icon-button *ngIf="comments.length > 0"
                        [matTooltip]="formArrayComments.getRawValue()[i].user.person.name_person + ' ' + formArrayComments.getRawValue()[i].user.person.last_name_person">
                        <span class="relative">
                            <img class="w-7 h-7 rounded-full"
                                *ngIf="formArrayComments.getRawValue()[i].user.avatar_user"
                                [src]="_urlPathAvatar + formArrayComments.getRawValue()[i].user.avatar_user">
                        </span>
                    </button>
                    <div class="fuse-mat-no-subscript flex-auto w-full ml-2">
                        <mat-form-field class="fuse-mat-no-subscript flex-auto w-full">
                            <textarea matInput maxlength="250" fuseAutogrow [rows]="5"
                                [formControl]="getFromControl(formArrayComments, i, 'value_comment')"
                                [placeholder]="'Ingrese el comentario'" [spellcheck]="false"></textarea>
                        </mat-form-field>
                        <div class="mt-2 text-sm">{{formArrayComments.getRawValue()[i].date_comment |
                            date:'medium'}}
                        </div>
                    </div>
                    <ng-container>
                        <div *ngIf="formArrayComments.getRawValue()[i].isOwner"
                            class="flex items-center flex-col w-10 pl-2 self-center pb-6">
                            <button *ngIf="!formArrayComments.getRawValue()[i].editMode" class="w-8 h-8 min-h-8"
                                mat-icon-button (click)="editComment(i, true)" matTooltip="Editar">
                                <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:edit'">
                                </mat-icon>
                            </button>
                            <button *ngIf="formArrayComments.getRawValue()[i].editMode" class="w-8 h-8 min-h-8"
                                mat-icon-button (click)="saveComment(i)" matTooltip="Guardar">
                                <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:save'">
                                </mat-icon>
                            </button>
                            <button *ngIf="formArrayComments.getRawValue()[i].editMode" class="w-8 h-8 min-h-8"
                                mat-icon-button (click)="deleteComment(i)" matTooltip="Eliminar">
                                <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:delete_outline'">
                                </mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <!-- Comments -->
        <div class="flex items-center justify-center sm:justify-end py-2 space-x-3 ng-star-inserted br-10 pt-6">
            <!-- Delete -->
            <button mat-flat-button
                class="mat-focus-indicator mat-flat-button mat-button-base mat-warn ng-star-inserted"
                (click)="updateUserTask()">
                Eliminar
            </button>
            <!-- Send -->
            <button class="order-first sm:order-last" mat-stroked-button [color]="'primary'"
                [disabled]="userTaskForm.invalid " (click)="updateUserTask()">
                Enviar
            </button>
        </div>
    </form>
</div>