<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
            <!-- Background -->
            <div class="w-full h-40 bg-black z-10 opacity-0">
            </div>
            <h1 class="absolute z-20 text-white text-3xl" absolute z-20 text-white text-3xl>{{nameEntity}}</h1>
            <img class="absolute inset-0 object-cover w-full h-full" src="app/../assets/images/background.jpg">
        </div>
        <!-- Entity -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">
                <!-- Actions -->
                <div
                    class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                    <button mat-stroked-button (click)="toggleEditMode(true)">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                        <span class="ml-1">Editar</span>
                    </button>
                    <button mat-stroked-button class="ml-auto" [matTooltip]="'Cerrar'" [routerLink]="['../']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        <span class="ml-1">Cerrar</span>
                    </button>
                </div>
                <div class="flex flex-col mt-4 pt-6 space-y-8">
                    <!-- date_enrollment -->
                    <ng-container *ngIf="enrollment.date_enrollment">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:fire'"></mat-icon>
                            <div class="ml-6 leading-6">{{enrollment.date_enrollment}}</div>
                        </div>
                    </ng-container> <!-- status_enrollment -->
                    <ng-container *ngIf="enrollment.status_enrollment">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:fire'"></mat-icon>
                            <div class="ml-6 leading-6">{{enrollment.status_enrollment}}</div>
                        </div>
                    </ng-container> <!-- completed_course -->
                    <ng-container *ngIf="enrollment.completed_course">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:fire'"></mat-icon>
                            <div class="ml-6 leading-6">{{enrollment.completed_course}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">
        <!-- Header -->
        <div class="relative w-full h-40 flex items-center bg-accent-100 dark:bg-accent-700 place-content-center">
            <!-- Background -->
            <div class="w-full h-40 bg-black z-10 opacity-25">
            </div>
            <h1 class="absolute z-20 text-white text-3xl">{{nameEntity}}</h1>
            <img class="absolute inset-0 object-cover w-full h-full" src="app/../assets/images/background.jpg">
        </div>
        <!-- form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <!-- Actions -->
                <div
                    class="flex items-center -mx-6 sm:-mx-12 py-4 pr-6 pl-6 sm:pr-12 sm:pl-12 border-t bg-gray-100 dark:bg-transparent rounded-t-none rounded-b-2xl">
                    <!-- Save -->
                    <button mat-flat-button [color]="'primary'" [disabled]="enrollmentForm.invalid"
                        [matTooltip]="'Guardar'" (click)="updateEnrollment()">
                        Guardar
                    </button>
                    <!-- Delete -->
                    <button mat-stroked-button class="ml-2" [color]="'warn'" [matTooltip]="'Eliminar'"
                        (click)="deleteEnrollment()">
                        Eliminar
                    </button>
                    <!-- Cancel -->
                    <button mat-stroked-button class="ml-2 mr-2" [matTooltip]="'Cancelar'"
                        (click)="toggleEditMode(false)">
                        Cancelar
                    </button>

                    <button mat-stroked-button class="ml-auto" [matTooltip]="'Cerrar'" [routerLink]="['../']">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        <span class="ml-1">Cerrar</span>
                    </button>
                </div>
                <form [formGroup]="enrollmentForm" class="mb-8">
                    <!-- Alert -->
                    <angel-alert class="mt-8" *ngIf="enrollmentForm.invalid || showAlert" [appearance]="'outline'"
                        [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                        <!-- Message if alert is actived for the component -->
                        {{alert.message}}
                        <!-- date_enrollment -->
                        <mat-error *ngIf="enrollmentForm.get('date_enrollment')?.hasError('required')">
                            • Ingrese date_enrollment
                        </mat-error>
                        <!-- status_enrollment -->
                        <mat-error *ngIf="enrollmentForm.get('status_enrollment')?.hasError('required')">
                            • Ingrese status_enrollment
                        </mat-error>
                        <!-- completed_course -->
                        <mat-error *ngIf="enrollmentForm.get('completed_course')?.hasError('required')">
                            • Ingrese completed_course
                        </mat-error>
                    </angel-alert>
                    <!-- Alert -->
                    <!-- date_enrollment -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>dateEnrollment</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:fire'">
                            </mat-icon>
                            <input matInput [formControlName]="'date_enrollment'" [placeholder]="'date_enrollment'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div> <!-- status_enrollment -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>statusEnrollment</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:fire'">
                            </mat-icon>
                            <input matInput [formControlName]="'status_enrollment'" [placeholder]="'status_enrollment'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div> <!-- completed_course -->
                    <div class="mt-8">
                        <mat-form-field class="angel-mat-no-subscript w-full">
                            <mat-label>completedCourse</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:fire'">
                            </mat-icon>
                            <input matInput [formControlName]="'completed_course'" [placeholder]="'completed_course'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>