<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Seleccionar un period</div>
        <button mat-icon-button (click)="closeModalSelectPeriod()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <!-- Modal period -->
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="selectPeriodForm">
        <!-- period -->
        <div class="flex flex-auto">
            <mat-form-field class="angel-mat-no-subscript w-full">
                <mat-label>Periodos</mat-label>
                <mat-select [formControlName]="'id_period'" (selectionChange)="changeSelect()">
                    <mat-option *ngFor="let category of categoriesPeriod" [value]="category.id_period"
                        [matTooltip]="category.description_period">
                        {{category.name_period}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex items-center justify-center sm:justify-end py-2 space-x-3 ng-star-inserted br-10 pt-6">
            <!-- Delete -->
            <button mat-flat-button
                class="mat-focus-indicator mat-flat-button mat-button-base mat-warn ng-star-inserted"
                (click)="closeModalSelectPeriod()">
                Cancelar
            </button>
            <!-- Send -->
            <button class="order-first sm:order-last" mat-stroked-button [color]="'primary'"
                [disabled]="selectPeriodForm.invalid" [mat-dialog-close]="id_period">
                Aceptar
            </button>
        </div>
    </form>
</div>