<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Asignatura {{enrollment.course.name_course}}</div>
        <button mat-icon-button [tabIndex]="-1" (click)="closeModalEnrollment()">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <form [formGroup]="enrollmentForm" class="flex flex-col flex-auto px-6 pb-6 sm:px-8 sm:pb-8 overflow-y-auto">
        <!-- Alert -->
        <angel-alert class="mt-8" *ngIf="true" [appearance]="'outline'" [showIcon]="false"
            [type]="enrollment.completed_course  ? 'success':'warning'" [@shake]="alert.type === 'error'">
            {{enrollment.completed_course ? 'Asignatura finalizada': 'La asignatura esta en marcha'}}
        </angel-alert>
        <!-- Alert -->
        <div class="flex flex-auto mt-8">
            <div class="flex flex-col w-full">
                <!-- description_course -->
                <div>
                    <mat-form-field class="angel-mat-textarea angel-mat-no-subscript w-full">
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                            [svgIcon]="'heroicons_outline:menu-alt-2'"></mat-icon>
                        <textarea matInput matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                            [value]="enrollment.course.description_course" cdkAutosizeMinRows="3"
                            cdkAutosizeMaxRows="30" disabled [placeholder]="'Descripción de la asignatura'"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="flex flex-auto mt-8">
            <div class="flex flex-col w-2/4 pr-3">
                <!-- date_enrollment -->
                <div>
                    <mat-form-field class="angel-mat-no-subscript w-full">
                        <mat-label>Fecha de matrícula</mat-label>
                        <input matInput [matDatepicker]="date_enrollment" [formControlName]="'date_enrollment'"
                            readonly>
                        <mat-datepicker-toggle matSuffix [for]="date_enrollment" disabled>
                        </mat-datepicker-toggle>
                        <mat-datepicker #date_enrollment></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col w-2/4 pl-3">
                <!-- status_enrollment -->
                <div>
                    <mat-form-field class="angel-mat-no-subscript w-full">
                        <mat-label>Estado de la matíicula</mat-label>
                        <mat-select [value]="enrollment.status_enrollment" [disabled]="true"
                            [matTooltip]="enrollment.status_enrollment ? 'La matrícula se encuentra activa': 'Matrícula inactiva'">
                            <mat-option [value]="true">Activo</mat-option>
                            <mat-option [value]="false">Inactivo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="flex flex-auto mt-8">
            <div class="flex flex-col w-2/4 pr-3">
                <!-- name_career -->
                <div>
                    <mat-form-field class="angel-mat-no-subscript w-full">
                        <mat-label>Nombre del curso</mat-label>
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'mat_outline:account_tree'">
                        </mat-icon>
                        <input matInput [value]="enrollment.course.career.name_career" readonly
                            [matTooltip]="enrollment.course.career.description_career">
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col w-2/4 pl-3">
                <!-- name_period -->
                <div>
                    <mat-form-field class="angel-mat-no-subscript w-full">
                        <mat-label>Nombre del periodo</mat-label>
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'mat_outline:timeline'">
                        </mat-icon>
                        <input matInput [value]="enrollment.course.period.name_period" readonly
                            [matTooltip]="'Desde el ' + parseDate(enrollment.course.period.start_date_period) + ' al ' + parseDate(enrollment.course.period.end_date_period) ">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="flex flex-auto mt-8">
            <div class="flex flex-col w-2/4 pr-3">
                <!-- start_date_schedule -->
                <div>
                    <mat-form-field class="angel-mat-no-subscript w-full">
                        <mat-label>Horario de entrada</mat-label>
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:clock'">
                        </mat-icon>
                        <input matInput [value]="parseTime(enrollment.course.schedule.start_date_schedule)"
                            [matTooltip]="'Hora de entrada'" readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col w-2/4 pl-3">
                <!-- end_date_schedule -->
                <div>
                    <mat-form-field class="angel-mat-no-subscript w-full">
                        <mat-label>Horario de salida</mat-label>
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:clock'">
                        </mat-icon>
                        <input matInput [value]="parseTime(enrollment.course.schedule.end_date_schedule)" readonly
                            [matTooltip]="'Hora de salida'">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <!-- Enrollment -->
        <div class="mt-4">
            <div class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                (click)="openModalAssistance()">
                <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:blur_linear'"></mat-icon>
                <span class="ml-2 font-medium text-secondary group-hover:underline">Ver asistencias</span>
            </div>
        </div>
    </form>
</div>