<div class="relative flex flex-col w-full h-full">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg">Marcacion</div>
        <button mat-icon-button [tabIndex]="-1" (click)="closeModalAssistance()">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex items-center justify-center py-8 px-8 space-x-3 ng-star-inserted br-10 text-2xl">
        Inicio: {{assistance.start_marking_date | date:'medium'}}
    </div>
    <div class="flex items-center justify-center py-8 px-8 space-x-3 ng-star-inserted br-10 text-2xl">
        Fin: {{assistance.end_marking_date | date:'medium'}}
    </div>
    <form [formGroup]="assistanceForm" class="flex flex-col flex-auto px-6 pb-6 sm:px-8 sm:pb-8 overflow-y-auto">

    </form>
</div>