<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img class="w-full h-full object-cover" [src]="_urlPathAvatar+avatar_user">
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                Bienvenido, {{name_person}}!</div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">{{name_company}}</div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3" *ngIf="type_profile === 'administator'">
                    <button class="angel-mat-button-rounded" mat-flat-button [color]="'primary'"
                        (click)="openSettingsCompany()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                        <span class="ml-2">Configuración</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <mat-tab-group class="sm:px-2" [animationDuration]="'0'">

                <!-- Inicio -->
                <mat-tab label="Inicio">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                            <!-- Summary -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Cursos</div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">
                                        {{box.total_career}}</div>
                                    <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Total</div>
                                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                        <div class="text-md font-medium truncate">Activas:</div>
                                        <div class="ml-1.5 text-lg font-semibold">{{box.total_career_activated}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Overdue -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Asignaturas</div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">
                                        {{box.total_course}}</div>
                                    <div class="text-lg font-medium text-red-600 dark:text-red-500">Total</div>
                                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                        <div class="text-md font-medium truncate">Activos</div>
                                        <div class="ml-1.5 text-lg font-semibold">{{box.total_course_activated}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Issues -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Tareas</div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">
                                        {{box.total_task}}</div>
                                    <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Total</div>
                                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                        <div class="text-md font-medium truncate">Enviadas</div>
                                        <div class="ml-1.5 text-lg font-semibold">{{box.total_task_sent}}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Features -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Usuarios</div>
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">
                                        {{box.total_user}}</div>
                                    <div class="text-lg font-medium text-green-600 dark:text-green-500">Total</div>
                                    <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                                        <div class="text-md font-medium truncate">Activos</div>
                                        <div class="ml-1.5 text-lg font-semibold">{{box.total_user_activated}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- details -->
                        <div *ngIf="info.details.rows.length > 0"
                            class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden mt-6">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Detalle por periodo</div>
                            <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                                <table class="min-w-240 overflow-y-visible" mat-table [dataSource]="info.details.rows">

                                    <!-- Type -->
                                    <ng-container matColumnDef="name_period" sticky>
                                        <th mat-header-cell *matHeaderCellDef>
                                            Periodo
                                        </th>
                                        <td mat-cell *matCellDef="let details">
                                            <span class="flex items-center">
                                                <span class="leading-4">{{details.name_period}}</span>
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Total -->
                                    <ng-container matColumnDef="students">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Estudiantes matrículados
                                        </th>
                                        <td mat-cell *matCellDef="let details">
                                            <span class="font-medium text-right">
                                                {{details.students}}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Total maestros -->
                                    <ng-container matColumnDef="teachers">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Maestros
                                        </th>
                                        <td mat-cell *matCellDef="let details">
                                            {{details.teachers}}
                                        </td>
                                    </ng-container>

                                    <!-- Total cursos -->
                                    <ng-container matColumnDef="courses">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Asignaturas
                                        </th>
                                        <td mat-cell *matCellDef="let details">
                                            {{details.courses}}
                                        </td>
                                    </ng-container>

                                    <!-- Total de tareas -->
                                    <ng-container matColumnDef="tasks">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Tareas
                                        </th>
                                        <td mat-cell *matCellDef="let details">
                                            {{details.tasks}}
                                        </td>
                                    </ng-container>

                                    <!--  -->
                                    <ng-container matColumnDef="approval_note_period">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Nota de aprovación
                                        </th>
                                        <td mat-cell *matCellDef="let details">
                                            <span class="flex items-center">
                                                <span class="leading-4">{{details.approval_note_period}}</span>
                                            </span>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="info.details.columns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: info.details.columns;"></tr>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>


                <!-- Usuarios -->
                <mat-tab label="Usuarios">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                            <ng-container *ngFor="let user of users">
                                <div
                                    class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                                    <!-- Avatar & Info -->
                                    <div class="flex flex-col flex-auto w-full p-8 text-center">
                                        <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                                            <img class="w-full h-full object-cover"
                                                [src]="_urlPathAvatar + user.avatar_user">
                                        </div>
                                        <div class="mt-6 font-medium">{{user.person.name_person + ' ' +
                                            user.person.last_name_person}}</div>
                                        <div class="text-secondary mt-2">{{user.name_user}}</div>
                                        <div class="text-secondary">{{getTypeSelectUser(user.type_user).name_type}}
                                        </div>
                                    </div>
                                    <!-- Email & Phone -->
                                    <div class="flex items-center w-full border-t divide-x">
                                        <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                            [href]="'mailto:' + user.name_user" target="_blank">
                                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:mail'">
                                            </mat-icon>
                                            <span class="ml-2">Correo</span>
                                        </a>
                                        <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                            [href]="'tel:' + user.person.phone_person">
                                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:phone'">
                                            </mat-icon>
                                            <span class="ml-2">Llamar</span>
                                        </a>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </mat-tab>

                <!-- Anuncios -->
                <mat-tab label="Anuncios">
                    <ng-template matTabContent>
                        <angel-alert class="mt-8" *ngIf="newsletters.length == 0" [appearance]="'outline'"
                            [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'info'">
                            <!-- Message if alert is actived for the component -->
                            ¡No hay anuncios por el momento!
                        </angel-alert>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                            <ng-container *ngFor="let newsletter of newsletters">
                                <a class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden cursor-pointer"
                                    (click)="openModalViewNewsletter(newsletter)">
                                    <!-- Avatar & Info -->
                                    <div class="flex flex-col flex-auto w-full p-8 text-center">
                                        <div class="font-medium text-lg">{{newsletter.name_newsletter}}</div>
                                        <div class="text-secondary mt-2">
                                            {{minimumDescription(newsletter.description_newsletter)}}</div>
                                        <div class="w-12 h-12 mx-auto rounded-full overflow-hidden mt-2"
                                            [matTooltip]="newsletter.user.person.name_person + ' ' +
                                        newsletter.user.person.last_name_person + ' - '+ getTypeSelectUser(newsletter.user.type_user).name_type">
                                            <img class="w-full h-full object-cover"
                                                [src]="_urlPathAvatar + newsletter.user.avatar_user">
                                        </div>
                                        <div class="text-secondary mt-2">{{newsletter.date_newsletter | date:'medium'}}
                                        </div>
                                    </div>
                                </a>
                            </ng-container>


                        </div>
                    </ng-template>

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>